@model ServiceBooking.WEB.Models.IndexResponseViewModel

@using (Html.BeginForm("Details", "Orders", null, FormMethod.Post, new {enctype = "multipart/form-data"}))
{
    <div class="form-group jumbotron">
        @Html.Label("Leave your response!")
        <br/>
        <div class="col-md-10">
            @Html.EditorFor(model => model.Text, new {htmlAttributes = new {@class = "form-control"}})
            @Html.ValidationMessageFor(model => model.Text, "", new {@class = "text-danger"})
        </div>
        
        @Html.ActionLink("Send", "Send", "Response", new
        {
            orderId = Model.OrderId,
            performerId = Model.PerformerId
        }, new { @class = "btn btn-default" })
    </div>
}