@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
    Service Booking<br />
    Minsk, Belarus<br />
    Phone: (29)-802-93-88
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support.servicebooking@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing.servicebooking@gmail.com</a>
</address>