@model ServiceBooking.WEB.Models.RegisterViewModel
@{
    ViewBag.Title = "Registration Completion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<p>Further instructions for completing the registration were sent to the e-mail address. The letter could get into spam folder.</p>